style html { background: #F2F4F8; }
.uk-sticky-placeholder(style="height: 70px; margin: 0px;")
        nav.tm-navbar.uk-navbar(style="height: 70px; background: #fff;")
            a.tm-logo.uk-float-left.uk-hidden-small.uk-margin-top.uk-margin-left
                div.logo
            ul.uk-navbar-nav.uk-visible-large.uk-float-right.uk-margin-top.uk-margin-right
                li.uk-visible-large.uk-parent(data-uk-dropdown="{mode:'click'}", style="border: 1px solid #000;")
                    a.uk-button.uk-flex.uk-flex-middle.uk-navbar-content.tm-menu-button.uk-visible-large
                        i.uk-icon-home.uk-margin-right
                        span #{username}
                        i.uk-icon-caret-down(style="margin-left: 5px;")
                    .uk-dropdown.uk-dropdown-navbar.uk-dropdown-bottom(style="border: 1px solid #a0afd9;")
                        ul.uk-nav.uk-nav-navbar
                            li
                                a Settings
                            li
                                a Profile
                            li
                                a(href="/auth/logout") Logout

#my-id.uk-offcanvas
    .uk-offcanvas-bar.uk-offcanvas-bar-flip
        .container
            button.action.action--open(aria-label="Open Menu")
                span.icom.icon--menu
            nav#ml-menu.menu
                button.action.action--close(aria-label="Close Menu")
                    span.icon.icon--cross
                .menu__wrap
                    ul(data-menu="main").menu__level
                        li.menu__item
                            a.menu__link(data-submenu="submenu-1") some text
                        

.uk-offcanvas-bar.uk-offcanvas-bar-show(style="-webkit-transform: translateX(0); transform: translateX(0%); top: 70px; position: absolute;", data-ng-init="Dashboard()")
    .uk-nav.uk-nav-offcanvas.uk-nav-parent-icon.na-menu
        li.uk-nav-header.uk-margin-top.uk-margin Menu
        li.item.uk-active
            a(ng-click="Dashboard()").active Dashboard
        li.uk-nav-divider
        li.item
            a(ng-click="AddExpense()") Add expense
        li.item
            a(ng-click="MannageCategories()") Mannage catetgories
        li.item
            a(ng-click="ListExpenses()") List expenses
.contant#pjax-container(ng-include="templateURL", ng-view='onMenuLoad')
script(src="/js/components/notify.js")
script(src="/js/core/dropdown.js")
script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-beta.2/angular.min.js")
script(src="/controllers/controller.js")
script(src="/js/mainMenu.js")
script(src="/js/menu/modernizr.custom.js")
script(src="/js/menu/jquery.dlmenu.js")
script UIkit.notify('Hello #{username}');// have an error