doctype
html(ng-app="myApp")
  head
    title= title
    link(rel='stylesheet', href='/css/uikit.almost-flat.min.css')
    link(rel="shortcut icon", href="/public/favicon.ico" type="image/x-icon")
    link(rel="stylesheet", href="customCss/custom.css")
    link(rel="stylesheet", href="css/components/notify.almost-flat.css")
  script(src="/js/jquery.min.js")
  script(src="/js/uikit.js")
  body(ng-controller="AppCtrl")!= body