link(rel='stylesheet', href='/css/components/tooltip.almost-flat.min.css')
a(href="/auth/logout",data-uk-tooltip="{pos:'left'}", title="logout", class="close")
    i.uk-icon-close
script(src="/js/components/notify.js")
script(src="/js/components/tooltip.js")
script UIkit.notify('Hello #{username}');// have an error