.uk-grid
    a(href="/new-expenses").uk-width-1-2.leftButton
        .newExpenses New expenses
    a(href="/expenses").uk-width-1-2.rightButton
        .viewExpenses View expenses
link(rel='stylesheet', href='/css/components/tooltip.almost-flat.min.css')
a(href="/auth/logout",data-uk-tooltip="{pos:'bottom'}", title="logout", class="close")
    span.xOne
    span.xTwo
script(src="/js/components/notify.js")
script(src="/js/components/tooltip.js")
script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-beta.2/angular.min.js")
script(src="/controllers/controller.js")
script UIkit.notify('Hello #{username}');// have an error