table.uk-table(style="background: #fff;")
    thead
        tr
            th Price
            th What
            th Category
            th Date
    tbody#myTable
        tr(ng-repeat="expense in expenses")
            td {{expense.price}}
            td {{expense.what}}
            td {{expense.category}}
            td {{expense.date}}
script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-beta.2/angular.min.js")
script(src="/controllers/controller.js")